# root
SCRATCH.md

# connector
connector/.backup/
connector/.data/

# api

# charts

# node
**/node_modules/
**/npm-debug.*

# os-specific
.*.sw?
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DS_Store?
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.Trashes
.VolumeIcon.icns
._*
.apdisk
.fseventsd
Icon^M^M
Thumbs.db
ehthumbs.db
thumbs.db
