<br/>
<table>
  <tbody>
    <tr>
      <th>URL</th>
      <td>/delegations/total/single</td>
    </tr>
    <tr>
      <th>DESCRIPTION</th>
      <td>Fetches list of total delegations on a single day.</td>
    </tr>
    <tr>
      <th>EXAMPLE</th>
      <td>
        <a href="/delegations/total/single?date=20160127&types=asn,ipv4,ipv6&economy=subregion&format=html">
          <span>/delegations/total/single?date=20160127&types=asn,ipv4,ipv6&economy=subregion&format=html</span>
        </a>
      </td>
    </tr>
    <tr>
      <th>PARAMETERS</th>
      <td>
        <table class="parameters">
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">description</th>
              <th scope="col">default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>date</td>
              <td>Date in ISO 8601 basic format.</td>
              <td>20080214</td>
            </tr>
            <tr>
              <td>types</td>
              <td>Comma-separated list of allocation types.</td>
              <td>asn,ipv4,ipv6</td>
            </tr>
            <tr>
              <td>economy</td>
              <td>Either country, subregion or region.</td>
              <td>country</td>
            </tr>
            <tr>
              <td>format</td>
              <td>Either html or json.</td>
              <td>json</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<br/>
