{
  "extends": [
    "airbnb"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "mongo": true,
    "node": true
  },
  "globals": {
    "log": true,
    "base": true,
    "cfg": true
  },
  "rules": {
    "no-console": "warn",
    "consistent-return": "off",
    "no-shadow": ["error", { "allow": ["state", "resolve","reject", "err", "cb"] }],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next"}],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.js", "**/*.spec.js"] }]
  },
}
